* {

    background: rgb(34, 92, 168)
}

.Texto-sinopse{

    display: block;
    text-align: center;
    color: whitesmoke;
    font-size: xx-large;

}


.Texto-intro {

    display: block;
    text-align: center;
    color: white;
    font-size: x-large;
}

.navegacao {

    display: flex;
    justify-content: center;

}

.navegacao a{

    color: whitesmoke;
}